*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    background: url(intro.jpg) no-repeat center center;
    display: flex;
    background-size: cover;
    flex-direction: column;
    background-attachment:fixed;
}
#nav{
	width: 100%;
	height:	70px;
	line-height: 70px;
    background-color: hsla(201, 100%, 16%, 0.33)
}
#nav ul {
	float: right;
	margin-right: 30px;
}
#nav ul li{
	display: inline-block;
	list-style-type: none;
    
}
#nav ul li a{
	text-decoration: none;
	color: white;
	padding: 20px;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 20px;
}
#nav ul li:hover {
    background-color: #92c90cbf;
	transition: all ease-in-out 0.45s;
    opacity:.6s;
}
#Desh img{
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
}
#banner img{
    position: absolute;
    height: 100px;
    width: 500px;
    margin-left: 850px;
    margin-top: 60px;
}
#banner p{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 965px;
    margin-top: 80px;
    font-size: 30px;
}
#serve img{
    position: absolute;
    height: 140px;
    width: 500px;
    margin-left: 850px;
    margin-top: 200px;
    border-radius: 40px;
}
#p1{
    position: absolute;
    font-family: Century Gothic;
    font-weight: bold;
    color: aliceblue;
    margin-left: 900px;
    margin-top: 230px;
    font-size: 20px;
}
#recipe{
    width: 100%;
    height: 550px;
    position: absolute;
    margin-top: 500px;
    background-color: hsla(201, 100%, 16%, 0.33)
}
#recipe #p1, #p2, #p3, #p4, #p5 {
    line-height: 35px;
} 
#p2{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 40px;
    font-size:30px;
    margin-top: 20px;
}
#p3{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 80px;
    font-size: 18px;
}
#p4{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    font-size:30px;
    margin-top: 20px;
}
#p5{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    margin-top: 80px;
    font-size: 20px;
}
#p6{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 40px;
    font-size:30px;
    margin-top: 300px;
}
#p7{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    margin-top: 350px;
    font-size: 20px;
}
#p8{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    font-size:30px;
    margin-top: 300px;
}
#p9{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 350px;
    font-size: 20px;
}
#tips{
    width: 100%;
    height: 450px;
    position: absolute;
    margin-top: 1050px;
    background-color: hsl(77, 89%, 42%);
}













#p10{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 130px;
    margin-top: 50px;
    font-size: 50px;
}
#p11{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 230px;
    margin-top: 110px;
    font-size: 30px;
}
#tips{
    width: 100%;
    height: 450px;
    position: absolute;
    margin-top: 1050px;
    background-color: hsl(77, 89%, 42%);
}
#container1{
	width:400px;
	height:250px;
	margin-left:40px;
	margin-top:1200px;
	float:left;
    position: absolute;
}
#container1 img{
	width:100%;
	height:100%;
}
#container1:hover{
	box-shadow: 10px 10px 1px 1px hsla(0, 1%, 5%, 0.7);
	transition: all ease-in-out 0.45s;
}
#container2{
	width:400px;
	height:250px;
	margin-left:565px;
	margin-top:1200px;
	float:left;
    position: absolute;
}
#container2 img{
	width:100%;
	height:100%;
}
#container2:hover{
	box-shadow: 10px 10px 1px 1px hsla(0, 1%, 5%, 0.7);
	transition: all ease-in-out 0.45s;
}
#container3{
	width:400px;
	height:250px;
	margin-left:1090px;
	margin-top:1200px;
	float:left;
    position: absolute;
}
#container3 img{
	width:100%;
	height:100%;
}
#container3:hover{
	box-shadow: 10px 10px 1px 1px hsla(0, 1%, 5%, 0.7);
	transition: all ease-in-out 0.45s;
}