*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    background: url(intro.jpg) no-repeat center center;
    display: flex;
    background-size: cover;
    flex-direction: column;
    background-attachment:fixed;
}
#nav{
	width: 100%;
	height:	70px;
	line-height: 70px;
    background-color: hsla(201, 100%, 16%, 0.33)
}
#nav ul {
	float: right;
	margin-right: 30px;
}
#nav ul li{
	display: inline-block;
	list-style-type: none;
    
}
#nav ul li a{
	text-decoration: none;
	color: white;
	padding: 20px;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 20px;
}
#nav ul li:hover {
    background-color: #92c90cbf;
	transition: all ease-in-out 0.45s;
    opacity:.6s;
}
#Desh img{
    position: absolute;
    margin-top: 30px;
    margin-left: 80px;
}
#banner img{
    position: absolute;
    height: 100px;
    width: 500px;
    margin-left: 850px;
    margin-top: 60px;
}
#banner p{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 965px;
    margin-top: 80px;
    font-size: 30px;
}
#serve img{
    position: absolute;
    height: 140px;
    width: 500px;
    margin-left: 850px;
    margin-top: 200px;
    border-radius: 40px;
}
#p1{
    position: absolute;
    font-family: Century Gothic;
    font-weight: bold;
    color: aliceblue;
    margin-left: 900px;
    margin-top: 230px;
    font-size: 20px;
}
#recipe{
    width: 100%;
    height: 650px;
    position: absolute;
    margin-top: 500px;
    background-color: hsla(201, 100%, 16%, 0.33)
}
#recipe #p1, #p2, #p3, #p7 {
    line-height: 35px;
} 
#p2{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 40px;
    font-size:30px;
    margin-top: 20px;
}
#p3{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 18px;
}
#p4{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    font-size:30px;
    margin-top: 20px;
}
#p5{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    margin-top: 80px;
    font-size: 20px;
}
#p6{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    font-size:30px;
    margin-top: 490px;
}
#p7{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    margin-top: 530px;
    font-size: 20px;
}
#p8{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 700px;
    font-size:30px;
    margin-top: 300px;
}
#p9{
    position: absolute;
    color: aliceblue;
    font-family: Century Gothic;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 350px;
    font-size: 20px;
}
#tips{
    width: 100%;
    height: 450px;
    position: absolute;
    margin-top: 1150px;
    background-color: hsl(77, 89%, 42%);
}